
<ul class="newsArticles">
{{#each articles}}
<ul class="articleTitle">{{title}}</ul> 
<a href="{{link}}"><ul class="articleLink">{{link}}</ul> </a>
<button type="button"class="btn btn-sm btn-primary text-center" id="save-button">Save Article</button></li> 
{{/each}}
</ul>
