<ul class="newsArticles">
{{#each index}}
<li class="articleTitle">{{title}}</li> 
<li class="articleLink">{{link}}</li> 
<button type="button"class="btn btn-lg btn-primary" id="comment-button">Comment</button></li> 
{{/each}}
</ul>
