
<ul class="savedArticles">
{{#each savedArticles}}
<ul class="articleTitle">{{title}}</ul> 
<a href="{{link}}"><ul class="articleLink">{{link}}</ul> </a>
<button type="button"class="btn btn-sm btn-primary text-center" id="comment-button">Comment</button></li> 
{{/each}}
</ul>
